
  
  .form-employe
  {
    background-color: #f5f3f3;
    border: 1px solid rgb(212, 211, 211);
    border-radius: 0.5rem;
    padding: 1rem;
  }

  #employee-table th, #employee-table td {
    padding: 8px;
    border: 1px solid #ddd;
  }
  

  
 